# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipch
*.tlog
*.db
*.opendb
*.exp
*.idb
src/x64/Debug/OpenholoRefAppGUI.res
src/x64/Release/OpenholoRefAppGUI.res
x64/Release/OpenholoRefAppGUI.iobj
src/x64/Debug/RCa04604
x64/Release/OpenholoRefAppGUI.ipdb
